<a href="http://earthandbeauty.com/collections/cyber-monday-2014-holiday-best" class="flydown-link">
  <div class="top-flydown">
    <div class="wrapper">
      <h3>
        <span>It's Cyber Monday!</span> Take 30% Off Party-Perfect Looks for the Holidays.
      </h3>
      <div class="flydown-detail">
        Promo Code CYBER30 — <span>Shop the Collection Now&nbsp;&raquo;</span>
      </div>
    </div>
  </div>
</a>