<div class="top-flydown">
  <div class="wrapper">
    <h3>
      <span>It's Cyber Monday!</span> Take 30% Off Party-Perfect Looks for the Holidays.
    </h3>
    <div class="flydown-detail">
      Code: CYBER30. Ends 11:59pm PST on Monday, 12/1.
    </div>
  </div>
</div>