<div class="wrapper second-header">
  <div class="grid">
    <div class="grid-item large--two-tenths">
      <div class="logo-black"></div>
    </div>
    <div class="grid-item large--four-tenths">
      
    </div>
    <div class="grid-item large--four-tenths large--text-right">
    </div>
  </div>
</div>