{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}


<div class="grid second-header">
  <div class="grid-item large--two-twelfths">
    <a href="/"><div class="logo-black"></div></a>
  </div>
  <div class="grid-item large--seven-twelfths">
    {% if collection and collection.title != 'Products'%}
      <h2>{{ collection.title }}</h2>
    {% else %}
      <h2>New Arrivals</h2>
    {% endif %}
  </div>
  <div class="grid-item large--three-twelfths">
    <div class="free-shipping">
      <div class="line-one">
        Free domestic shipping
      </div>
      <div class="line-two">
        on orders over $100
      </div>
    </div>
  </div>
</div>

{% paginate collection.products by 100 %}

<div class="wrapper"> 
  <div class="grid">

      {% comment %}
        Different markup if a collection description exists
        ===== FOR REFERENCE ONLY =====
      
        {% if collection.description != blank %}
          <header class="section-header">
            <h1 class="section-header--title">{{ collection.title }}</h1>
            <div class="rte rte--header">
              {{ collection.description }}
            </div>
          </header>
          <hr>
          <div class="section-header">
            <div class="section-header--right">
              {% include 'collection-sorting' %}
              {% include 'collection-views' %}
            </div>
          </div>
        {% else %}
          <header class="section-header">
            <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
            <div class="section-header--right">
              {% include 'collection-sorting' %}
              {% include 'collection-views' %}
            </div>
          </header>
        {% endif %}
      {% endcomment %}

      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <div class="grid-item">
            <p>Sorry, there are no products matching your search.</p>
          </div>
        {% endfor %}

      </div>

      {% if paginate.pages > 1 %}
        <hr>

        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}


  </div>

  {% endpaginate %}
</div> 