{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% include 'promo' %}


<div class="above-fold-hero">
  {% include 'site-nav-wrapper' %}

  <div class="wrapper">
    <div class="logo">
    </div>

    <div class="call-to-action">
      <a href="/collections/new-arrivals" class='eb-button'>Shop Now</a>
      <span>or</span>
      <a href="http://earthandbeauty.com/collections/winter-2014-lookbook-part-1" class='eb-button dark'>View Lookbook</a>
    </div>
  </div>

</div>