{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% include 'promo' %}


<div class="above-fold-hero">
  {% include 'site-nav-wrapper' %}

  <div class="wrapper">
    <div class="logo">
    </div>

    <div class="call-to-action">
      
      <a href="/collections/lookbook-prespring-2015" class='eb-button'>Shop the Lookbook</a>
    </div>
  </div>

</div>